#ProjectZZZ .css-1aquho2-MuiTabs-indicator{
    height: 0px;
}
.css-2t3upk-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    background:  #5cb874 !important;
}
.css-1auhr98-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    background:  #5cb874 !important;
}
.css-q7uppx-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: #fff !important;
    background:  #5cb874 !important;
}
.css-balvxb-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    background:  #5cb874 !important;
}
.POsZZ{
    transition: opacity 0.35s, transform 0.35s;
    /* transform: scale(1); */
}
.cVXxbE {
    background-color: #5cb874!important;
    box-shadow: none !important;
    min-width: 12px !important;
    min-height: 12px !important;
}
.ezKHIn{
    box-shadow: none !important;
    border: 1px solid #5cb874 !important;
    min-width: 12px !important;
    min-height: 12px !important;
}
#hovImg:hover{
    transform: scale(1.2);
}
.img-hover-zoom {
    overflow: hidden; 
    
  }
  .ddff{
    width: 405px !important;
  }
  @media (min-width: 900px){
  .ddff{
    width: 300px !important;
}
}
@media (min-width: 1200px){
    .ddff{
      width: 405px !important;
  }
  }
.dddd{
    width: 365px !important;
    height: 89%;
}
  
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
.img-hover-zoom:hover img {
    transform: scale(1.3);
}
.css-1czkvhx{
    padding: 0 !important;
}
.css-13xfq8m-MuiTabPanel-root {
    padding: 10px !important;
}
.css-1ey2yc5{
    padding: 0 !important;
}
img{
    width: 100% !important;
}
